<div class="container">
  <%= simple_form_for(movie) do |f| %>
    <%= f.input :title %>
    <%= f.input :year %>
    <%= f.input :synopsis %>
    <%= f.input :box %>
    <%= f.input :director_id %>
    <%= f.submit %>
  <% end %>

</div>
