<div class="background">
</div>

    <div class="container">
      <div class="content">
      <%= form_tag movies_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find a movie"
        %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>

      <div id="movies" class="movie-grid">
        <% @movies.each do |movie| %>
        <div class="movie-card">
          <img class="img-box" src="<%= movie.box %>">
          <h4 class="title-box">
            <%= link_to movie.title,movie_path(movie), class: 'btn-movie' %>
          </h4>
        </div>
        <% end %>
      </div>

    </div>
  </div>
